@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

html,body{
    height: 100%;
    overflow: hidden;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

.clear{
    clear: both;
}

img{
    max-width: 100%;
}

/*Dashboard*/

.sidebar{
    width: 20%;
    height: 100%;
    background-color: #455a64;
    float: left;
}

.user_box{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 3px solid #222c30;
}

.user_box h1{
    font-size: 30px;
    color: white;
    font-weight: normal;
}

.user_image{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: 2px solid #2F3D42;
}

.user_info{
    margin-left: 10px;
}

.user_name{
    font-weight: normal;
    color: #f1f1f1;
}

.user_role{
    font-weight: bold;
    font-size: 18px;
    background-color: #00cc00;
    color: #f1f1f1;
    border-radius: 3px;
    padding: 2px 5px;
    font-weight: lighter;
}

.sidebar_blocks{
    width: 100%;
    height: 90%;
    overflow-y: auto;
}

.sidebar_blocks ul{
    list-style-type: none;
}

.sidebar_blocks h3{
    width: 100%;
    padding: 15px 10px;
    background-color: #2F3D42;
    color: #f1f1f1;

}

.sidebar_blocks li{
    width: 100%;
    padding: 15px 10px;
    border-bottom: 1px solid #2F3D42;
}

.sidebar_blocks li a{
    color: #f1f1f1;
    text-decoration: none;
}

.main_header{
    width: 80%;
    height: 10%;
    padding: 10px 20px;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #455a64;
}

.main_header > div{
    display: flex;
}

.main_header > div > i{
    font-size: 30px;
    color: white;
    margin-right: 10px;
    cursor: pointer;
}

.main_header h1{
    font-size: 30px;
    font-weight: normal;
    color: #f1f1f1;
}

.main_header a{
    font-size: 25px;
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.page_box{
    width: 80%;
    height: 90%;
    padding: 10px;
    float: left;
    overflow-y: auto;
    background-color: #ccc;
}

.dash_page{
    width: 100%;
    min-height: 100%;
    color: #444;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
}

.page_title{
    padding: 10px 0;
    font-size: 30px;
    font-weight: normal;
    border-bottom: 1px solid #444;
}

.page_title i{
    margin-right: 5px;
    font-size: 25px;
}

.page_form{
    width: 100%;
    min-height: 100%;
}

.input_box{
    margin: 10px 0;
}

.input_box .page_input{
    width: 100%;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
}

.input_box input.page_input{
    height: 40px;
}

.input_box select{
    height: 40px;
}

.input_box textarea.page_input{
    height: 200px;
    resize: vertical;
}

.input_box input[type=submit]{
    width: 150px;
    height: 40px;
    color: white;
    background-color: #2F3D42;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.input_box input[type=submit]:hover{
    background-color: #222c30;
}

.image_preview{
    width: 100%;
    height: 300px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_preview img{
    display: none;
    max-width: 100%;
    max-height: 100%;
}

.page_list_wrapper{
    width: 100%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.page_list_single{
    width: 300px;
    height: 370px;
    border-radius: 10px;
    background-color: #2F3D42;
    border: 3px solid #222c30;
    color: white;
    text-align: center;
    padding: 10px;
}

.page_list_single img{
    border-radius: 10px;
    width: 200px;
    border: 3px solid #222c30;
}

.page_list_single p{
    border-bottom: 1px solid #222c30;
    padding: 10px 0;
}

.page_list_single .page_list_single_btn_box{
    width: 100%;
    margin-top: 50px;
}

.page_list_single .page_list_single_btn_box a{
    padding: 5px;
    text-decoration: none;
    margin-left: 10px;
    color: white;
    border-radius: 3px;
}

.delete-button{
    background-color: #ed1c09;
}

.edit-button{
    background-color: #dddd00;
}

.dash_table{
    width: 100%;
}

.dash_table_header{
    width: 100%;
    background-color: #2F3D42;
    color: white;
    text-align: center;
}

.dash_table_column{
    width: 100%;
    border-bottom: 1px solid #2F3D42;
    color: #444;
    text-align: center;
}

.tipo_entrada{
    color: #00cc00;
    font-weight: bold;
}

.tipo_saida{
    color: #ed1c09;
    font-weight: bold;
}

.tipo_alerta{
    color: #edb009;
    font-weight: bold;
}

.analytics h2, h3{
    margin-top: 10px;
}

.analytics p{
    margin: 10px 0;
}

.analytics ul{
 margin-left: 20px;
}

.view-itens{
    border-bottom: 1px solid #444;
    text-align: center;
    text-align: center;

}

.view-itens ul{
    list-style-type: none;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.view-itens ul li{
    margin: 0 50px;
}

.view-itens ul li a{
    color: blue;
}

.mobile{
    display: none;
}

@media screen and (max-width: 1100px){
    html,body{
        overflow: auto;
    }
    .mobile{
        display: block;
    }

    .sidebar{
        width: 100%;
        height: 300px;
    }

    .user_box{
        height: 120px;
        flex-direction: row;
        border-bottom: 3px solid #222c30;
    }

    .main_header{
        width: 100%;
        border-top: 3px solid #222c30;
    }

    .main_header h1{
        font-size: 20px;
    }

    .page_box{
        width: 100%;
    }

    .page_list_wrapper{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}
